.container {
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
}
.titleContainer {
  flex: 2;
  flex-direction: column;
}

.addresses {
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.title {
  background-color: rgb(7, 201, 49);
  color: white;
  width: max-content;
}
